#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flex-container {
  min-width: 600px;
  display: flex;
  flex-wrap: nowrap;
}

.flex-item {
  flex-grow: 1;
  margin: 2px;
  display: flex;
  flex-direction: column;
}

.flex-item > div {
  margin: 2px;
}

.title {
  font-size: large;
  font-weight: 900;
}

.title::first-letter {
  text-transform: capitalize;
}

.content {
  line-height: 50px;
  font-weight: bold;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}
